<header>
  <nav class="navbar Navbar">
    <div class="container-fluid">
      <a href="/">
        <img class="Navbar__logo" alt="サイトロゴ" src="/assets/common/logo.png">
      </a>

      <ul class="navbar-nav flex-row align-items-center">
        <li class="nav-item NavItem">
          <a class="fw-bold NavItem__link NavItem__link--login" href="/users/sign_in">ログイン</a>
        </li>

        <li class="nav-item NavItem">
          <a class="btn fw-bold NavItem__link NavItem__link--register" href="/users/sign_up">新規登録</a>
        </li>
      </ul>
<%# 条件分岐によるヘッダーの見た目変更は未実装%>
    </div>
  </nav>
</header>